# Binaries
pwrq
pwrq-viz

# Coverage files
coverage.out
coverage.html

# Web build artifacts
pkg/web/dist/
pkg/web/src/wasm/
pkg/web/src/js/wasm_exec.js
pkg/web/src/node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~